.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header .header_title {
    font-size: 24px;
    font-weight: 600;
}

.header .header__icon {
    margin-left: 15px;
    cursor: pointer;
}

.header .header__back-btn i {
    font-size: 22px;
    margin-right: 10px;
}

.header .header__header-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}